<!-- views/partials/footer.ejs -->
<footer>
    <div class="footer-content">
        <p>&copy; <%= new Date().getFullYear() %> Your Ecommerce Store. All rights reserved.</p>
        <div class="social-media">
            <a href="https://facebook.com" target="_blank">Facebook</a>
            <a href="https://twitter.com" target="_blank">Twitter</a>
            <a href="https://instagram.com" target="_blank">Instagram</a>
        </div>
    </div>
    <div class="footer-links">
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/terms-of-service">Terms of Service</a>
    </div>
</footer>